<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <input v-model="message">
            <input v-bind:value="message" v-on:input="message = $event.target.value">
            

            {{message}}

            <div>
                <input v-model="loginForm.username" >
                <input v-model="loginForm.password" >
                <button v-on:click="submitForm">Submit</button>
            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

        <script>

            var app = new Vue({
                el: '#app',
                data: {
                    message: "Hello World",
                    loginForm: {
                        username: "",
                        password: ""
                    }
                },
                methods: {
                    submitForm() {
                        console.log("Submitting login form", this.loginForm)


                        var callLog = () => {
                            this.log("Logging:Something")

                        }

                        callLog();

                    },
                    log(v) {
                        console.log(v);
                    }
                }
            })

        </script>

    </body>
</html>